
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  background: #fff;
  color: #666666;
  font-family: "Open Sans", sans-serif;
}

a {
  color: #18d26e;
  transition: 0.5s;
}

a:hover, a:active, a:focus {
  color: #66AFE9;
  outline: none;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0 0 30px 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin:0;
  padding: 0;
}


.clear{
	clear: both;
}


/*导航*/
.header-navigation {
	position: fixed;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: rgba(0,0,0,0.6);
  text-align: center;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  margin-bottom: 20px;
  z-index: 9999;
  top: 0;
}

.link {
  color: #fff;
  text-decoration: none;
  margin: 0 30px;
}
.link:hover {
  color: #66AFE9;
  text-decoration: none;
  margin: 0 30px;
}

.carousel{
	padding-top: 60px;
	background-color: #333!important;
}
.carousel-inner{
	position: relative;
}
.item-text-group1{
	position: absolute;
	width: 30%;
	top:20%;
	right: 35%;
	background-color:none;
	z-index: 99;
	color: #fff;
	text-align: center;
}
.item-text-group2{
	position: absolute;
	width: 30%;
	top:20%;
	left: 25%;
	background-color:none;
	z-index: 99;
	color: #fff;
}
.item-text-group1 .item-theme,
.item-text-group2 .item-theme{
	font-size: 3rem;
	margin: 20px 0;
}
.item-text-group1 .item-text{
	text-align: center;
}
.item-text-group2 .item-text{
	text-align: left;
}
.item-text-group1 .item-text p,
.item-text-group2 .item-text p{
	display: inline-block;
	font-size: 1.6rem;
	margin-right: 20px;
	text-align: left;
}
.item-text-group2 .item-theme{
	text-align: left;
}
.banner1-a{
	width: auto;
	color: #fff;
	padding: 5px 25px;
	margin-top:10px;
	text-align: left;
	display: inline-block;
	background-color:rgba(49,176,213,0.6);
	border-radius: 5px;
}
.banner1-a:hover{
	background-color:#31B0D5;
	color: #fff;
}
.banner2-a{
	width: auto;
	color: #fff;
	padding: 5px 25px;
	border:1px solid #fff;
	margin-top:40px;
	text-align: left;
	float: left;
	display: inline-block;
}
.banner2-a:hover{
	background-color: rgba(255,255,255,0.4);
	color: #fff;
}
/****
* tab Section style
****/
#tab-select{
	text-align:center;
	overflow:hidden;
	width:100%;
	margin:0 auto;
	height:auto;
}
#tab-select h3{
	margin: 50px 0;
	color: #333;
}
#tab-select a i{
	font-size:8rem ;
}
.tab-select-a{
	display:inline-block;
	padding:0 50px 0 50px;
	width:auto;
	text-align:center;
	margin-bottom:20px;
	text-decoration:none;
	color:#7a7a7a;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-weight: 800;
}
.tab-select-a h5{
	font-size:2rem;
	color: #7a7a7a;
}
.tab-select-a-btnHover{
	color: #66AFE9;
}
.tab-select-nav{
	list-style:none;
	padding: 0;
	margin: 0;
}
.tab-select-nav li{
	display: inline-block;
	position: relative;
}
.tab-select-nav li a.tab-select-a-btnHover::before {
	  content: "";
    width: 0px;
    height: 0px;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #f0f2f4;
    font-size: 0px;
    line-height: 0px;
    position: absolute;
    left: 50%;
    bottom: -24px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 2;
}
.tab-select-nav li a.tab-select-a-btnHover::after {
	  content: "";
    width: 0px;
    height: 0px;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #e1e1e1;
    font-size: 0px;
    line-height: 0px;
    position: absolute;
    left: 50%;
    bottom: -22px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 1;
}
.tab-select-a:hover h5{
	color: #66AFE9!important;
}
.tab-select-a:active h5,
.tab-select-a:focus h5{
	color: #66AFE9!important;
}

#tab_box{
	text-align:justify;
	overflow:hidden;
	color:#fff;
	padding:40px 10px;
	height:auto;
	width:auto;
	background-color:#f0f2f4;
	margin-bottom: 10px;
	/*border-top: 2px solid #c0c0c0;*/
	box-shadow: 0 0 5px #c0c0c0;
}
.tab-box2,
.tab-box3{
	display:none;
}
.tab-box1,
.tab-box2,
.tab-box3{
	width: 100%;
	margin: 0 auto;
}
.tab-box1-list{
	display: block;
	overflow: hidden;
	padding: 10px;
	padding-top: 0;
	margin: 30px 0;
}
.tab-box1-list{
	position: relative;
}
.tab-box1-list-bg{
	background-color: rgba(255,255,255,0.9);
	transition: background 2s ease,transform 2s ease-in 1s;
}

.tab-box1-list sup{
	width: auto;
	border-radius: 20px;
	background-color: #F0AD4E;
	color: #fff;
	padding: 2px 5px;
	top: 25px;
	font-size: 0.6rem;
}
.tab-box1-list .list-icon{
	border-radius: 50%;
	background-color: #fff;
	border:3px solid #E5E5E5;
	text-align: center;
	line-height: 90px;
	display: block;
	overflow: hidden;
	padding: 10px 10px;
}
.tab-box1-list .list-icon img{
	width: 100%;
	border-radius: 40%;
	vertical-align: middle;
}
.tab-box1-list h5{
	width: auto;
	color: #333;
	padding-top: 5px;
	text-align: center;
}
.detail{
	padding: 10px;
	position: absolute;
	top: 20px;
	left: 30px;
	width: 80%;
	height: 80%;
	z-index: 99;
	border-radius: 10px;
	border:1px solid #fff;
	background-color: rgba(255,255,255,0.9);
	display: none;
	box-shadow: 0 0 10px #e1e1e1;
	
}
.detail .title{
	text-align: center;
	white-space: inherit;
	line-height: 20px;
	font-size: 16px;
	color: #333;
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-bottom: 8px;
}
.detail .title:hover{
	color: #66AFE9;
  text-decoration: underline;
}
.detail .description{
	  text-align: left;
    white-space: inherit;
    margin-bottom: 10px;
    max-height: 100px;
    margin-top: 5px;
    display: block;
    line-height: 20px;
    text-overflow: ellipsis;
    font-size: 12px;
    color: #787c7f;
}
.detail .btn-more{
	display: inline-block;
    padding: 0 15px;
    line-height: 24px;
    border: 1px solid #787c7f;
    color: #555;
    transition: all .3s ease 0s;
}
.detail .btn-more:hover{
	border-color: #66AFE9;
    background-color: #66AFE9;
    color: #fff;
}
.tab-box2-list{
	width: 100%;
	display: inline-block;
}
.tab-box2-list-item{
	width: 92%;
	background-color: #fff;
	border-radius: 5px;
	padding: 10px;
	position: relative;
  transition: all .5s ease 0s;
  top: 0;
  margin: 10px 0;
}
.tab-box2-list-item:hover{
	background-color: #fff;
    -webkit-box-shadow: 0 10px 25px rgba(0,0,0,0.15);
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
    top: -10px;
}
.tab-box2-list-item .col-sm-6{
	padding: 0;
}
.tab-box2-list-item .item-img{
	width: 100%;
    position: relative;
    overflow: hidden;
    padding-bottom: 50%;
}
.tab-box2-list-item .item-img .item-img-link{
	display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    text-align: center;
    background: #fff;
}
.tab-box2-list-item .item-img .item-img-link span{
	vertical-align: middle;
    /*height: 100%;*/
    display: inline-block;
}
.tab-box2-list-item .item-img .item-img-link img{	
	max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
}
.tab-box2-list-item .item-text{
	text-align: center;
}
.tab-box2-list-item .item-text .item-title{
	font-size: 16px;
    color: #333;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 8px;
}
.tab-box2-list-item .item-text .item-title:hover{
	color: #66AFE9;
	text-decoration: underline;
}
.tab-box2-list-item .item-text .item-zhuce{
	display: inline-block;
    padding: 0 15px;
    line-height: 24px;
    border: 1px solid #787c7f;
    color: #555;
    transition: all .3s ease 0s;
    margin-top: 10px;
}
.tab-box2-list-item .item-zhuce:hover{
	border-color: #66AFE9;
    background-color: #66AFE9;
    color: #fff;
}
.item-description{
	white-space: normal;
    height: 40px;
	    display: block;
    line-height: 20px;
    overflow: hidden;
    margin-bottom: 5px;
    text-overflow: ellipsis;
    font-size: 12px;
    color: #787c7f;
}
.item-date{
	line-height: 26px;
    color: #999;
    font-size: 14px;
    float: right;
    margin-top: 10px;
}




.tg-topcategories{
	width: 100%;
	margin: 60px auto;
}
.tg-topcategories a{
	display: block;
	/*overflow: hidden;*/
	border-radius: 10px;
  padding: 0;
  text-align: center;
}
.tg-category{
	width: 100%;
	float: left;
	margin-top: 15px;
	overflow: hidden;
	border-radius: 10px;
	padding: 0;
}
.tg-category figure {
	margin: 0;
	width: 100%;
	float: left;
}
.tg-category figure img {
	z-index: 1;
	width: 100%;
	height: auto;
	opacity: 0.60;
	display: block;
	position: relative;
}
.tg-category figure figcaption {
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	height: 100%;
	padding: 20px;
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
}
figure {
	margin-bottom: 6px;
	position: relative;
}
figure {
	margin: 1em 40px;
}
figure:hover{
	background-color: rgba(0,0,0,1);
	transition: background 1s ease,transform 1s ease-in 0.2s;
}
figure img{
	    opacity: 0.7;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
}
figure:hover img{
	      opacity: 0.5;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.tg-categoryname h4{
	text-align: center;
    font-weight: 800;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0,50px,0);
    transform: translate3d(0,50px,0);
}
.tg-categoryicon {
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(-15px,60px,0);
    transform: translate3d(-15px,60px,0);
    position: absolute;
    text-align: center;
}
.tg-categoryicon i{
    color: #31B0D5;
    width: auto;
    font-weight: 800;
    font-size: 3rem;
    border-radius: 50%;
    background-color: #fff;
}
.tg-categoryicon i:hover{
    background-color: #31B0D5;
    color: #fff;
}
figure:hover .tg-categoryname h4{
	color: #fff;
	-webkit-transform: translate3d(0,-20px,0);
    transform: translate3d(0,-20px,0);
}
figure:hover .tg-categoryicon {
	-webkit-transform: translate3d(-15px,-10px,0);
    transform: translate3d(-15px,-10px,0);
}
.tg-description{
	margin:30px 0;
    padding: 10px;
    border: 1px solid #fff;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0,20px,0) scale(1.1);
    transform: translate3d(0,20px,0) scale(1.1);
    letter-spacing: 1px;
    font-size: 68.5%;
    hite-space: inherit;
}

figure:hover .tg-description{
    border: 1px solid #fff;
    opacity: 1;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0,20px,0) scale(1.1);
    transform: translate3d(0,20px,0) scale(1);
    letter-spacing: 1px;
    color: #fff;
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #000;
  padding: 0 0 30px 0;
  color: #eee;
  font-size: 14px;
}

#footer .footer-top {
  background: #111;
  padding: 60px 0 30px 0;
}

#footer .footer-top .footer-info {
  margin-bottom: 30px;
}

#footer .footer-top .footer-info h6 {
  margin: 0 0 20px 0;
  padding: 2px 0 2px 10px;
  line-height: 1;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
  border-left: 4px solid #66AFE9;
}

#footer .footer-top .footer-info p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Montserrat", sans-serif;
  color: #eee;
}
#footer .footer-top .footer-info p img {
	width: 40%;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #333;
  color: #eee;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: #18d26e;
  color: #fff;
}

#footer .footer-top h4 {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top h4::before, #footer .footer-top h4::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
}

#footer .footer-top h4::before {
  right: 0;
  background: #555;
}

#footer .footer-top h4::after {
  background: #66AFE9;
  width: 60px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 8px;
  color: #ddd;
}

#footer .footer-top .footer-links ul li {
  border-bottom: 1px solid #333;
  padding: 10px 0;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 10px;
}

#footer .footer-top .footer-links ul a {
  color: #eee;
}

#footer .footer-top .footer-links ul a:hover {
  color: #66AFE9;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact p {
  line-height: 26px;
}

#footer .footer-top .footer-newsletter {
  margin-bottom: 30px;
}

#footer .footer-top .footer-newsletter input[type="email"] {
  border: 0;
  padding: 6px 8px;
  width: 65%;
}

#footer .footer-top .footer-newsletter input[type="submit"] {
  background: #18d26e;
  border: 0;
  width: 35%;
  padding: 6px 0;
  text-align: center;
  color: #fff;
  transition: 0.3s;
  cursor: pointer;
}

#footer .footer-top .footer-newsletter input[type="submit"]:hover {
  background: #13a456;
}

#footer .copyright {
  text-align: center;
  padding-top: 30px;
}

#footer .credits {
  text-align: center;
  font-size: 13px;
  color: #ddd;
}
